
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: "";
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------------------- 

Primary style

-------------------------------- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    color: #333;
    background-color: #010a28;
}

a {
    color: #010a28;
    text-decoration: none !important;
}

/* -------------------------------- 

 Header

-------------------------------- */
.logo {
    height: 29px;
    margin-top: 20px;
}

.playment-nav {
    position: relative;
    height: 60px;
    background-color: #f6f6f6;
}

    .playment-nav::before {
        /* never visible - used in JS to check mq */
        content: "mobile";
        display: none;
    }

    .playment-nav .nav-trigger {
        /* menu icon - visible on small screens only */
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        width: 60px;
        /* replace text with icon */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        color: transparent;
    }

        .playment-nav .nav-trigger span,
        .playment-nav .nav-trigger span::after,
        .playment-nav .nav-trigger span::before {
            /* these are the 3 lines of the menu icon */
            position: absolute;
            background-color: #333;
            height: 3px;
            width: 26px;
        }

        .playment-nav .nav-trigger span {
            left: 50%;
            top: 50%;
            bottom: auto;
            right: auto;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            transition: background-color 0.3s;
        }

            .playment-nav .nav-trigger span::after,
            .playment-nav .nav-trigger span::before {
                content: "";
                left: 0;
                transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                transition: transform 0.3s, -webkit-transform 0.3s;
            }

            .playment-nav .nav-trigger span::before {
                -webkit-transform: translateY(-9px);
                transform: translateY(-9px);
            }

            .playment-nav .nav-trigger span::after {
                -webkit-transform: translateY(9px);
                transform: translateY(9px);
            }

    .playment-nav.nav-open .nav-trigger span {
        background-color: transparent;
    }

        .playment-nav.nav-open .nav-trigger span::before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .playment-nav.nav-open .nav-trigger span::after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

    .playment-nav .main-nav {
        display: none;
    }

    .playment-nav .playment-dropdown-wrapper {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1.2em 5%;
        box-shadow: inset 0 1px 0 #dddddd;
        background-color: #f6f6f6;
    }

    .playment-nav.nav-open .playment-dropdown-wrapper {
        display: block;
    }

    .playment-nav .dropdown-list > ul > li {
        margin-bottom: 3.3em;
    }

    .playment-nav .label {
        display: block;
        font-size: 2.2rem;
        color: #333;
        margin-bottom: 0.8em;
    }

    .playment-nav .content li::after {
        clear: both;
        content: "";
        display: block;
    }

    .playment-nav .links .content > ul > li {
        margin-top: 1em;
    }

    .playment-nav .links-list a,
    .playment-nav .btn {
        display: block;
        margin-left: 14px;
        font-size: 2.2rem;
        line-height: 1.6;
    }

        .playment-nav .links-list a:hover,
        .playment-nav .btn:hover {
            color: #28282e;
        }

    .playment-nav .content h2 {
        color: #a0a0a0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.3rem;
        margin: 20px 0 10px 14px;
    }

.inner-nav-link {
    display: flex;
    color: #28282e;
    align-items: center;
    margin-bottom: 24px;
    line-height: 1.4;
}

.inner-nav-icon {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.headerDropdownBottom {
    display: flex;
    color: #44454c;
    font-size: .9rem;
    justify-content: space-between;
    padding: 20px 0;
}

@media only screen and (min-width: 1000px) {
    .playment-nav {
        position: absolute;
        height: 80px;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0;
        text-align: center;
        background-color: transparent;
    }

        .playment-nav::before {
            content: "desktop";
        }

        .playment-nav .nav-trigger {
            display: none;
        }

        .playment-nav .main-nav {
            display: inline-block;
        }

            .playment-nav .main-nav > ul > li {
                display: inline-block;
                float: left;
            }

                .playment-nav .main-nav > ul > li > a {
                    display: block;
                    height: 70px;
                    line-height: 70px;
                    color: #f6f6f6;
                    font-size: 16px;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    transition: opacity 0.2s;
                }

                    .playment-nav .main-nav > ul > li > a > span {
                        line-height: 1.11;
                        border-radius: 2px;
                        padding: 10px 12px;
                    }

                        .playment-nav .main-nav > ul > li > a > span:hover {
                            background-color: hsla(0,0%,100%,.07);
                        }

        .playment-nav.is-dropdown-visible .main-nav > ul > li > a {
            /* main navigation hover effect - on hover, reduce opacity of elements not hovered over */
            opacity: 0.6;
        }

        .playment-nav.is-dropdown-visible .main-nav > ul > li.active > a {
            opacity: 1;
        }

        .playment-nav .playment-dropdown-wrapper {
            /* dropdown wrapper - used to create the slide up/slide down effect when dropdown is revealed/hidden */
            display: block;
            top: 80%;
            left: 1%;
            /* overwrite mobile style */
            width: auto;
            padding: 0;
            box-shadow: none;
            background-color: transparent;
            /* Force Hardware acceleration */
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            will-change: transform;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
            transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            transition: transform 0.3s, -webkit-transform 0.3s;
        }

        .playment-nav.is-dropdown-visible .playment-dropdown-wrapper {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        .playment-nav .dropdown-list {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            will-change: transform, width, height;
            transition: visibility 0.3s;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
        }

            .no-csstransitions .playment-nav .dropdown-list {
                display: none;
            }

            .playment-nav .dropdown-list::before {
                /* dropdown top triangle */
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                right: auto;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                height: 0;
                width: 0;
                border: 8px solid transparent;
                border-bottom-color: #f6f6f6;
                opacity: 0;
                transition: opacity 0.3s;
            }

            .playment-nav .dropdown-list > ul {
                position: relative;
                z-index: 1;
                height: 100%;
                width: 100%;
                overflow: hidden;
            }

        .playment-nav.is-dropdown-visible .dropdown-list {
            visibility: visible;
            transition: width 0.3s, height 0.3s, -webkit-transform 0.3s;
            transition: transform 0.3s, width 0.3s, height 0.3s;
            transition: transform 0.3s, width 0.3s, height 0.3s, -webkit-transform 0.3s;
        }

            .playment-nav.is-dropdown-visible .dropdown-list::before {
                opacity: 1;
            }

        .playment-nav .dropdown {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            transition: opacity 0.3s, visibility 0.3s;
        }

            .playment-nav .dropdown.active {
                opacity: 1;
                visibility: visible;
            }

            .playment-nav .dropdown.move-left .content {
                -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
            }

            .playment-nav .dropdown.move-right .content {
                -webkit-transform: translateX(100px);
                transform: translateX(100px);
            }

        .playment-nav .label {
            /* hide the label on bigger devices */
            display: none;
        }

        .playment-nav .content {
            padding: 2.2em 1.8em;
            transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            transition: transform 0.3s, -webkit-transform 0.3s;
            text-align: left;
        }

            .playment-nav .content > ul::after {
                clear: both;
                content: "";
                display: block;
            }

            .playment-nav .content > ul > li {
                width: 48%;
                float: left;
                margin-right: 4%;
                margin-top: 0;
            }

                .playment-nav .content > ul > li:nth-of-type(2n) {
                    margin-right: 0;
                }

        .playment-nav .gallery .content {
            /* you need to set a width for the .content elements because they have a position absolute */
            width: 510px;
            padding-bottom: 0.8em;
        }

    .border {
        border-bottom: 2px solid #f0f1f5;
        margin-bottom: 30px;
        margin-bottom: 20px;
    }

    .playment-nav .links .content > ul > li {
        margin-top: 0;
    }

    .playment-nav .links .content,
    .playment-nav .button .content {
        width: 390px;
    }

    .playment-nav .links-list a {
        font-size: 1.6rem;
        margin-left: 0;
    }

    .playment-nav .btn {
        margin-top: -5px;
        font-size: 14px;
        color: #fff;
    }

    .playment-nav .content h2 {
        font-size: 1.8rem;
        text-transform: none;
        font-weight: normal;
        color: #333;
        margin: 0 0 0.6em;
    }

    .playment-nav .bg-layer {
        /* playment dropdown background */
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 1px;
        background: #f6f6f6;
        opacity: 0;
        transition: opacity 0.3s;
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .playment-nav.is-dropdown-visible .bg-layer {
        opacity: 1;
        transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    }
}

.rotate-path {
    transform: rotate(160deg);
    -moz-transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
}

.rotate-image {
    height: 220px;
    transform: rotate(200deg);
    -moz-transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
}
